<div class="card">
    <div class="card-header">
        <h5></h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ shipping_address.address }}</h5>
        <div class="card-title">
            {{ shipping_address.reference }}
        </div>
        <div class="card-title">
            {{ shipping_address.zipcode }}
        </div>
        {% if edit %}
        <div class="mt-2">
            <a href="{% url 'shipping_addresses:update' shipping_address.pk %}" class="btn btn-info">Editar</a>
            {% if shipping_address.default %}
            <div class="text-info">
                Dirección primaria
            </div>
            {% else %}
            <a href="{% url 'shipping_addresses:default' shipping_address.pk  %}" class="btn btn-warning">Primaria</a>
            <a href="{% url 'shipping_addresses:delete' shipping_address.pk %}" class="btn btn-danger">Eliminar</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>