{% extends 'base.html' %}
{% load product_extras %}
{% block content %}
<div class="col-3">
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid">
    {% endif %}
</div>
<div class="col-9">
    <div class="h1">{{ product.title }}</div>
    <div class="h5 fw-bold">
        Precio: <span class="text-success">{{ product.price | price_format }}</span>
    </div>
    <div>
        <p>{{ product.description }}</p>
    </div>
    <div>
        {% include 'carts/snippets/add.html' %}
    </div>
</div>
{% endblock %}