{% extends 'base.html' %}
{% load product_extras %}
{% load cart_extras %}
{% block content %}
<div class="col-3">
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.description }}" class="img-fluid">
    {% endif %}
</div>
<div class="col-9">
    <div class="h3 fw-bold text-success">
        {{ quantity | quantity_add_format }} al carrito
    </div>
    <div>
        <a href="{% url 'products:product' product.slug %}">
            {{ product.title }}
        </a>
    </div>
    <div class="fw-bold text-warning">
        {{ product.price | price_format }}
    </div>
    <div>
        <a href="{% url 'carts:cart' %}" class="btn btn-info mt-3">
            <i class="fa-solid fa-cart-shopping"></i>
            Ver carrito
        </a>
    </div>
    <div class="mt-3">
        <a href="{% url 'index' %}">Seguir comprando</a>
    </div>
</div>
{% endblock %}