{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col">
    <h1>{{ message }}</h1>
    <ul class="list-group">
        {# Listar productos #}
        {% for product in products %}
        <li class="list-group-item">{{ product.title }}
            {% if product.stock %}
            <span class="text-success">Disponible</span>
            {% else %}
            <span class="text-muted">Agotado</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <img src="{% static 'img/mochila.png' %}" alt="Mochila bonita">
</div>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}