{% url 'index' as index %}
{% url 'register' as register %}
{% url 'login' as login %}
{% url 'carts:cart' as cart %}
{% url 'shipping_addresses:shipping_addresses' as shipping_addresses %}
{% url 'orders:completed' as completed %}
{% url 'billing_profiles:add' as billing_profiles  %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ index }}">La Tienda</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == index %}active{% endif %}" href="{{ index }}">
                        <i class="fa-solid fa-house"></i>
                        Inicio
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == cart %}active{% endif %}" href="{{ cart }}">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Carrito
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == shipping_addresses %}active{% endif %}" href="{{ shipping_addresses }}">
                        <i class="fa-solid fa-map-location-dot"></i>
                        Direcciones
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == completed %}active{% endif %}" href="{{ completed }}">
                        <i class="fa-solid fa-truck-fast"></i>
                        Pedidos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == billing_profiles %}active{% endif %}" href="{{ billing_profiles }}">
                        <i class="fa-solid fa-credit-card"></i>
                        Métodos de pago
                    </a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav me-2">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link ms-auto" href="{% url 'logout' %}">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Logout
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    {# <a class="nav-link ms-auto" href="{% url 'register' %}"> #}
                        <a class="nav-link ms-auto {% if request.path == register %}active{% endif %}"
                            href="{{ register }}">
                            <i class="fa-solid fa-user-plus"></i>
                            Registro
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ms-auto {% if request.path == login %}active{% endif %}" href="{{ login }}">
                        <i class="fa-solid fa-user"></i>
                        Login
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>